@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1E1E1E;
}

header {
    background: #1A1B1E;
    padding: 0.5rem 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100vw;
}

header a {
    text-decoration: none;
    color: white;
    margin: 0rem 0rem;
    font-size: 2rem;
}

header ul {
    display: flex;
    list-style: none;
}

header ul li {
    margin: 0rem 1rem;
    padding: 0.3rem 1.3rem;
    font-size: 1rem;
    border-radius: 3rem;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

header ul li:hover {
    background-color: #118149;
    color: black;
}

#mobile {
    display: none;
}

#mobile i {
    color: #fff;
}

.Home {
    height: 100vh;
}

.Home .container {
    background-color: rgb(188, 41, 41);
    background: url(https://s3-alpha-sig.figma.com/img/1305/0524/72c5f0cba65cfeddfdd82d48dee4be68?Expires=1681689600&Signature=p1AwyMWWkezEFZL7JafTRZ332yD2uF7oBhWETNTS1bgTBesswKRSAlAwdtLrCz4FChms8AuvgDk87YciXxlheCkOM-1fRbj3iMgxe8dPhDjst2Ro0y-gjPQFuK-Xca7I8oRCFHTz2p4Es5afPA-c1Ke34gOjbcAzcxLU6Myk0AK0F8E~sekRfuE2lYVJPEJisug3QmIEdlXdLrglmO0za5H~aJWpY-TImUSVcjS6rpdGDlxZsz4A4OfJQdI-zckCBOrUAFHUar3uzV15yyLCtEo6hpgXA6BQ93IamzgZyY7G7q6hJo0BhgrMh4AMjagbBYAikGYFUBklfxcfL632rw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4)no-repeat center center/cover;
    position: absolute;
    box-shadow: inset 100vw 0px 0px rgba(0, 0, 0, 0.65);
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.Home .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding-top: 30vh;
    width: 50vw;
    color: white;
    text-align: center;
    z-index: 1;
}

.Home .content a:hover {
    color: #1A1B1E  !important;
    background-color:#118149 !important;
}

.footer {
    background: linear-gradient(270deg, #48FF91 3.43%, rgba(81, 30, 27, 0.319792) 64.04%, rgba(16, 3, 2, 0) 133.76%);
    height: 40vh;
    margin: 0 1.2rem;
    margin-bottom: 1.5rem;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 1rem;
    text-align: center;
    align-items: center;
}

.footer .content {
    height: 33vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: end;
}

.footer .content .child2 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    color: white;
}

.footer .content .child3 img {
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
    padding: 0.2rem;
    margin: 0 2px;
    border-radius: 10%;
}

.footer hr {
    width: 80vw;
    margin: 0.6rem auto;
}

.footer p {
    margin: 5px 0;
    color: white;
    font-size: large;
}

@media screen and ( max-width:769px ){
    header ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 53px;
        right: 0px;
        width: 300px;
        height: 100vh;
        background-color: #1E1E1E;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.65);
        padding: 40px 0 0 10px;
    }

    header ul.active {
        right: -500px;
    }

    header ul li {
        margin-bottom: 25px;
    }

    #mobile {
        display: block;
    }

    #mobile i {
        font-size: 100px;
        cursor: pointer;
    }
}